.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.desktop1-desktop1 {
  width: 100%;
  height: 400vw; /* 726px converted to vw */
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(14, 13, 13, 1);
}

.desktop1-text {
  top: 16vw; /* 249px converted to vw */
  left: 0;
  color: rgba(255, 255, 255, 0.5);
  right: 0;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 11.1111vw; /* 160px converted to vw */
  font-style: Regular;
  text-align: center;
  font-family: Jacques Francois Shadow;
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop1-img90201 {
  top: 0;
  left: 0;
  width: 100%; /* Adjusted to full width */
  height: 50.1388vw; /* 726px converted to vw */
  position: absolute;
}

.desktop1-text02 {
  top: 1.3889vw; /* 20px converted to vw */
  left: 4.7917vw; /* 69px converted to vw */
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 3.4722vw; /* 50px converted to vw */
  font-style: Regular;
  text-align: left;
  font-family: "Armata";
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/* Repeat the conversion for other elements */
.desktop1-text03 {
  font-size: 2.7778vw; /* 40px converted to vw */
  font-style: normal;
  font-weight: 27.7778vw;
}

.desktop1-text04 {
  font-size: 2.0833vw; /* 30px converted to vw */
  text-transform: uppercase;
}

.desktop1-text05 {
  position: absolute;
  top: 4.1667vw; /* 60px converted to vw */
  left: 0;
  color: #a69e9e;
  font-size: 1.3889vw; /* 20px converted to vw */
  text-transform: uppercase;
}

.desktop1-text06 {
  top: 2.7778vw; /* 40px converted to vw */
  left: 65vw; /* 963px converted to vw */
  color: rgba(255, 255, 255, 0.5);
  height: auto;
  position: absolute;
  font-size: 1.2vw; /* 20px converted to vw */
  font-style: Regular;
  text-align: left;
  font-family: "Armata";
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop1-text07 {
  top: 4.4444vw; /* 64px converted to vw */
  left: 70vw; /* 1046px converted to vw */
  color: rgba(255, 255, 255, 0.5);
  width: 6.6667vw; /* 96px converted to vw */
  height: auto;
  position: absolute;
  font-size: 1.2vw; /* 20px converted to vw */
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop1-text09 {
  top: 6.2847vw; /* 91px converted to vw */
  left: 77vw; /* 1156px converted to vw */
  color: rgba(255, 255, 255, 0.5);
  height: auto;
  position: absolute;
  font-size: 1.2vw; /* 20px converted to vw */
  font-style: Regular;
  text-align: left;
  font-family: "Armata";
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.desktop1-rectangle1 {
  top: 9.5vw; /* 136px converted to vw */
  left: 89vw; /* 1352px converted to vw */
  width: 9vw; /* 135px converted to vw */
  height: 1.7vw; /* 29px converted to vw */
  position: absolute;
  border-radius: 0.3472vw; /* 5px converted to vw */
}

.desktop1-text10 {
  top: 9.6vw; /* 139px converted to vw */
  left: 88.25vw; /* 1345px converted to vw */
  color: rgba(14, 13, 13, 1);
  width: 10.2778vw; /* 148px converted to vw */
  height: auto;
  position: absolute;
  font-size: 1.2vw; /* 20px converted to vw */
  font-style: Regular;
  text-align: center;
  font-family: Armata;
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.desktop1-text12 {
  top: 7.8vw; /* 115px converted to vw */
  left: 85vw; /* 1280px converted to vw */
  color: rgba(255, 255, 255, 0.5);
  height: auto;
  position: absolute;
  font-size: 1.2vw; /* 20px converted to vw */
  font-style: Regular;
  text-align: left;
  font-family: "Armata";
  font-weight: 27.7778vw;
  line-height: normal;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.desktop1-text13 {
  top: 39vw; /* 583px converted to vw */
  left: 28vw;
  color: rgb(255, 255, 255);
  right: 0;
  width: 56.875vw; /* 818px converted to vw */
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 1.6vw; 
}

.desktop1-text15 {
  font-weight: 48.6111vw;
  left:25vw;
  font-style: normal;
}
.desktop1-text19 {
  font-weight: 48.6111vw;
}